# runtime files
.cache/
.java/
.snakemake/
.venv/
logs/
multiqc_data/
Trimmed_output/
multiqc_report.html
results/

# local uv
.python-version
uv.lock
pyproject.toml

# local python files
__pycache__/

# pytest cache
.pytest_cache

# Claude settings
.claude/
